.img-flex_container {
   display: grid;
   grid-template-columns: auto auto;
}

.img-color_container1 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("../../images/background.jpg");
   background-size: cover;
   opacity: 80%;
}

.img-color_container2 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("../../images/background.jpg");
   background-size: cover;
   opacity: 80%;
}

.img-color_container3 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("../../images/background.jpg");
   background-size: cover;
   opacity: 80%;
}

.img-color_container4 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("../../images/background.jpg");
   background-size: cover;
   opacity: 80%;
}

.img-color_container1:hover {
   opacity: 100%;
}

.img-color_container2:hover {
   opacity: 100%;
}

.img-color_container3:hover {
   opacity: 100%;
}

.img-color_container4:hover {
   opacity: 100%;
}

.intro-img1 {
   width: 325px;
   height: 440px;
}

.intro-img2 {
   width: 325px;
   height: 440px;
}
