.img-flex_container {
   display: grid;
   grid-template-columns: auto auto;
}

.img-color_container1 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/733ccdc79e9378dcc88e56ee5ba22a00d59ad2e8/frontend/src/images/background.jpg?raw=true");
   background-size: cover;
   opacity: 80%;
}

.img-color_container2 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/733ccdc79e9378dcc88e56ee5ba22a00d59ad2e8/frontend/src/images/background.jpg?raw=true");
   background-size: cover;
   opacity: 80%;
}

.img-color_container3 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/733ccdc79e9378dcc88e56ee5ba22a00d59ad2e8/frontend/src/images/background.jpg?raw=true");
   background-size: cover;
   opacity: 80%;
}

.img-color_container4 {
   display: flex;
   justify-content: center;
   padding-top: 40px;
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/733ccdc79e9378dcc88e56ee5ba22a00d59ad2e8/frontend/src/images/background.jpg?raw=true");
   background-size: cover;
   opacity: 80%;
}

.img-color_container1:hover {
   opacity: 100%;
}

.img-color_container2:hover {
   opacity: 100%;
}

.img-color_container3:hover {
   opacity: 100%;
}

.img-color_container4:hover {
   opacity: 100%;
}

.intro-img1 {
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/5826179b4acc27d41fcda02f2e0286729a0f061f/frontend/src/images/iphone_light.png?raw=true");
   background-size: cover;
   width: 325px;
}

.intro-img2 {
   background-image: url("https://github.com/raymondmay95/Splitwise_Clone/blob/5826179b4acc27d41fcda02f2e0286729a0f061f/frontend/src/images/iphone_dark.png?raw=true");
   background-size: cover;
   width: 325px;
   height: 440px;
}
