.cards {
   list-style-type: none;
}

.fieldset {
   padding: 2rem;
   border-top-right-radius: 30%;
}

.fieldset legend {
   text-align: center;
   text-transform: capitalize;
   transform: skewX(10deg);
}

.fieldset div {
   border-radius: 50%;
}
