@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.bio_container {
   position: sticky;
   display: flex;
   width: 100%;
   justify-content: center;
}
.bio-flex_container {
   display: flex;
   align-self: center;
   justify-self: center;
   justify-content: center;
   justify-items: center;
   width: 1400px;
   border-bottom: 1px gray solid;
}

.bio {
   width:76%;
   background-color: #ffffff26;
   font-family: 'Lato', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   padding-top: 40px;
   padding-bottom: 40px;
}
.bio:hover{
   background-color: #ffffff4b;
}
