/* TODO Add site wide styles */
body {
   font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #000000;
}
.App-containter {
   font-size: 14px;
   line-height: 18px;
   text-align: start;
   letter-spacing: normal;
   background-color: #ffffff;
   fill: #333333;
}
