@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

header {
   margin: 0;
   padding: 0;
   display: flex;
   max-width: 100vw;
   max-height: 20vh;
   justify-items: center;
   justify-content: flex-end;
   align-items: center;
   background-color: #278AB0;
   font-family: 'Akaya Telivigala', cursive;
   border-bottom-left-radius: 2rem;
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   border-top-right-radius: 2rem;
}

header li {
   list-style-type: none;
}

.logo {
   margin-right: 75vw;
   background-image: url('../../images/wallet.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 80%;
   width: 5%;

}
.Nav_btn-home {
   border: 0;
   margin-left: 2vw;
   width: 100%;
   height: 100%;
   color: transparent

}
header > button {
   display: flex;
   border-radius: 40px;
   max-width: 8vw;
   max-height: 8vh;
   margin: 15px;
   margin-left: 10vw;

}
#profile_btn {
   max-width: 6vw;
   max-height: 6vh;
   background-color: transparent;
   border: none;
   cursor: pointer;
}
.sessionLinks {
   display: flex;
   text-decoration: none;
   padding: 10px;
   max-width: 10vw;
   max-height: 3vh;
}
.Login {
   color: black
}
.signup {
   color: black;
   background-color: #EAEAE0;
   border-bottom-right-radius: 2rem;
   border-top-right-radius: 2rem;
}
