nav {
   display: inline-flex;
   position: absolute;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   left: 0;
   height: 80vh;
   width: 3vw;
   background-color: var(--green-1-color);
}

.navlinks {
   text-decoration: none;
   width: 2rem;
   height: 2rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navlinks:hover {
   background-color: var(--green-2-color);
}
